$breakpoint-mobile: 719px;

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

$z-index-background: -100;
$z-index-footer: -1;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }
}

#background {
  background-image: url("/assets/savanna-small.jpg");
  background-size: cover;
  position: fixed;
  z-index: $z-index-background;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#background:before {
  $blur-radious: 5px;

  content: '';
  background: inherit;
  -webkit-filter: blur($blur-radious);
  -moz-filter: blur($blur-radious);
  -o-filter: blur($blur-radious);
  -ms-filter: blur($blur-radious);
  filter: blur($blur-radious);

  position: absolute;
  top: -$blur-radious;
  left: -$blur-radious;
  right: -$blur-radious;
  bottom: -$blur-radious;
  z-index: $z-index-background;
}

#main-content {
  margin: 0 auto;
  width: 700px;
  overflow: initial;

  @include mobile {
    padding: 8px;
    width: 90%;
  }
}

header {
  #header-logo {
    display: block;
    width: auto;
    height: 250px;

    @include mobile {
      height: 100px;
    }
  }
}

footer {
  padding: 0 0 4px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99.5%; // padding-right
  color: white;
  text-align: right;
  text-shadow: 1px 1px 1px #bdbdbd;
  z-index: $z-index-footer;
}

.friends-repl {
  .stream {
    display: flex;
    flex-direction: column;

    .stream-item {
      display: flex;

      &[data-type="rule"] {
        flex-direction: row;

        .icon {
          background: #f6a20e;
        }
      }

      &[data-type="query"] {
        flex-direction: row;

        .icon {
          background: red;
        }
      }

      &[data-type="solution"] {
        flex-direction: row-reverse;

        .icon {
          background: green;
        }
      }

      .icon {
        width: 50px;
        clip-path: circle(25px);
        vertical-align: top;
      }

      .message {
        margin: 0 8px 8px 8px;
        padding: 16px 24px;

        width: 300px;
        border-radius: 24px;
        background: white;

        @include mobile {
          width: 150px;
        }
      }
    }
  }
}

.friends-repl-panel {
  background: #fbfbfb;

  margin: 16px 0;
  padding: 13px;
  border: solid 2px #f6a20e;
}

.friends-repl-editor {
  width: 100%;
}

.friends-repl-solution {
  min-height: 120px;
  max-height: 240px;
  white-space: pre-wrap;
  font-family: monospace;
}

.friends-repl button {
  width: 84px;
  height: 30px;
}

.friends-repl-ask-button {
  background: #f6a20e;
  font-weight: 900;
}

.friends-repl-yes-button {
  color: #008000;
}

.friends-repl-no-button {
  color: #000080;
}
